<form class="flexcol">
  <div id="typeSelect">
    <legend>{{localize "MMMOD.UI.SelectBeastType"}}:</legend>
    <input type="radio" name="typeSelect" id="animalSelect" value="animal" checked>
    <label for="animalSelect">{{localize "MMMOD.UI.Animal"}}</label>
    {{#if mBeastSizes.length}} <input type="radio" name="typeSelect" id="magicalBeastSelect" value="magicalBeast">
    <label for="magicalBeastSelect">{{localize "MMMOD.UI.MagicalBeast"}}</label>{{/if}}
  </div>
  <div id="sizeSelect">
    <legend>{{localize "MMMOD.UI.SelectAnimalSize"}}:</legend>
    {{#each animalSizes}}
    <input type="radio" name="sizeSelect" id="{{this.size}}Select" value="{{this.label}}" {{#if this.default}}checked{{/if}}>
    <label for="{{this.size}}Select">{{localize (lookup (concat "MMMOD.Sizes." this.size) 'string')}}</label>
    {{/each}}
  </div>
  <div id="creatureSelect">
    <legend>{{localize "MMMOD.UI.SelectForm"}}:</legend>
    <select id="formSelect">
      {{#each animalOptions}}
        <option value="{{this.name}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div id="changePreview">
    {{{previewHtml}}}
  </div>
  <footer class="sheet-footer flexrow">
    <button type="button" name="submit" id="submitButton">
        <i class="fa fa-check"></i> {{localize "MMMOD.UI.OK"}}
    </button>
  </footer>
</form>
